<h1>LHTL</h1>
<p>
	Hello. This innocuous site is an example on how you can utilize some of the techniques from the <a href="https://www.coursera.org/learn/learning-how-to-learn/home/welcome">Learning How To Learn</a> MOOC.
</p>
<p>Here we have a random sample of SAT words. Using nothing but your noggin, attempt to memorize the words below and <i>recall</i> them. If button pushing is your sort of thing, I've provided a series of them to facilitate a better learning environment</p>
<p>Since you're the perceptive type, you've already taken note of the ticking clock. This is a forceful use of the Pomodoro Technique.</p>

{{#each words}}
	<div class="word-wrap">
		<p class="word">{{word}} <span class="category">{{category}}</span></p>
		<p>{{definition}}</p>
		<p><span class="example-header">Example: </span>{{example}}</p>
	</div>
{{/each}}
