<main class="container">
	<h1>LHTL</h1>
	<p>
		Hello and welcome to an innocuous site demonstrating the neurological gold presented in the <a href="https://www.coursera.org/learn/learning-how-to-learn/home/welcome">Learning How To Learn</a> MOOC.
	</p>
	<p>Below is an methodological sample of very very bombastic words. Read them, learn them, <i>recall</i> them. If button pushing is your sort of thing, I've provided a couple to facilitate a better learning environment.</p>
	<p>Since you're most likely the perceptive type, you've already taken note of the ticking clock. This is a forceful use of the <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a>. This site isn't a democracy, you have no say in this. When the timer ends, the site dies... kinda</p>

	<div class="buttons">
		<button id="test">Test your learning</button>
		<button id="help">A scintilla of help, please</button>
	</div>

	<h2>Your dictionary:</h2>
	{{#each words}}
		<div class="word-wrap">
			<p class="word">{{word}} <span class="category help-target test-target">{{category}}</span></p>
			<p class="test-target">{{definition}}</p>
			<p class="example help-target test-target"><span class="example-header">Example: </span>{{example}}</p>
		</div>
	{{/each}}
</main>

<div id="notice">
	<h2>Take A Break!</h2>
</div>

<footer>
	<div id="timer">30:00</div>
</footer>