<!DOCTYPE html>
<html>
  <head>
    <title>LHTL</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </head>
  <body class="container">
    {{{body}}}
  </body>
</html>
