.word {
	font-size: 2.4rem;
}

.word-wrap {
	margin-top: 1.5em;
}

.word-wrap p {
	margin: 0 0;
}

.example-header, .word {
	font-weight: bold;
}

.category {
	font-style: italic;
	font-size: initial;
	font-weight: initial;
}